<h2>"Você precisa acordar todos os dias motivado se quiser ir para a cama satisfeito."</h2>
<p style="width: 83%; text-align: end;">George Lorimer</p>

<div class="card-container">
  <a class="card" [routerLink]="['/tasks']">

    <img class="material-icons" width="24" height="24" src="./assets/task.svg">

    <span>Registrar Atividade</span>

    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
    </svg>

  </a>

  <a class="card" [routerLink]="['/users']">
    <img class="material-icons" width="24" height="24" src="./assets/user.svg">

    <span>Usuários</span>

    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
    </svg>
  </a>

</div>